# PANDAS

In [7]:

#simplly know to  PANDAS as pd use to INDEX,SEQUENCE,
#and another NUMPY as np use to declaration array and data operations


import pandas as pd
import numpy as np
 
declare=np.array([10,20,30,40])
index=pd.Series(declare)
print(index)

0    10
1    20
2    30
3    40
dtype: int64

In [15]:
#data allingnment automatically

import pandas as pd
 
abhay=pd.Series(list("abhay"))
abhay

0    a
1    b
2    h
3    a
4    y
dtype: object

In [21]:
import pandas as pd
import numpy as np

cars=np.array(['maruti','hyundai','ford','bmw'])
index=pd.Series(cars)
index

0     maruti
1    hyundai
2       ford
3        bmw
dtype: object

In [25]:
import pandas as pd

milege=pd.Series([20.30,10.23,50.22,52.23],index=['maruti','Hyundai','ford','bmw'])
milege

maruti     20.30
Hyundai    10.23
ford       50.22
bmw        52.23
dtype: float64

In [1]:
#scaler using 
import pandas as pd

scal_dupli=pd.Series(111,index=['a','b','c','d','e'])
scal_dupli

a    111
b    111
c    111
d    111
e    111
dtype: int64

# Access data

In [6]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [9]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print (s[0])

1

# Access through a Index data

In [19]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

print(s['a'])
print(s['e'])
print(s[['c','d','b']])

1
5
c    3
d    4
b    2
dtype: int64