In [2]:
abhay=("name","age",1234)
abhay

('name', 'age', 1234)

In [4]:
abhay[0]

'name'

In [8]:
abhay[0:2]

('name', 'age')

In [23]:
#here is the dictionary data types example 

abhay={'name':"abhay","last":"kumar","no":"123456"}
abhay

{'name': 'abhay', 'last': 'kumar', 'no': '123456'}

In [26]:
abhay["name"]

'abhay'

In [33]:
abhay["last"]

'kumar'

In [35]:
#updateing data


abhay["address"]=50
abhay

{'name': 'abhay', 'last': 'kumar', 'no': '123456', 'address': 50}