# PANDAS ----Dataframe uses example

In [21]:
import pandas as pd

a={'Name':'Abhay',
    'Age':21,
    'Address':"Gujarat"}
data=pd.DataFrame(a,index=[1])
print(data)

    Name  Age  Address
1  Abhay   21  Gujarat

In [29]:
import pandas as pd

abhay=pd.DataFrame([['computer',25000,2020],
                    ['keyboard',450,2019],
                    ['mouse',210,2020],
                    ['charger',1200,2015]],columns=['Devices','price','date_of manufactures'])

print(abhay)

    Devices  price  date_of manufactures
0  computer  25000                  2020
1  keyboard    450                  2019
2     mouse    210                  2020
3   charger   1200                  2015